body {
  margin: 0;
  background-color: #000;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 260px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #222;
  overflow: hidden;
}

.display {
  background-color: #000;
  color: #fff;
  font-size: 48px;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 20px;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  /* border-radius: 50px; */
}

button:hover {
  background-color: #444;
}

button.operator {
  background-color: #f1a33c;
  color: #fff;
}

button.zero {
  grid-column: span 2;
  /* border-radius: 50px; */
}